* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.container {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 79px;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__logo {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    transition: 0.3s;
}

.header__logo:hover {
    color: rgba(1, 129, 63, 1);
}

.header__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: auto;
    gap: 27px;
}

.header__info-item {
    color: #FFFFFF;
}

svg path {
    transition: 0.3s;
}

.header__info-item:hover svg path{
    fill: rgba(1, 129, 63, 1);
}

.header__info-slice {
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    height: 19px;
    opacity: 0.5;
}

.header__info-item-link {
    transition: 0.3s;
}

.header__info-item-link:hover {
    color: rgba(1, 129, 63, 1);
}

.form {
    padding: 30px 60px;
    margin: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 444px;
    height: 584px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.form__title {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
    position: relative;
}

.form__title::before {
    content: '';
    position: absolute;
    top: 0;
    left: -60px;
    width: 18px;
    height: 18px;
    background: #3CB878;
}

.form__title h2 {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.form__title span {
    cursor: pointer;
    color: #3CB878;
    transition: .3s;
}

.form__title span:hover {
    text-decoration: underline;
}

.form__social {
    display: flex;
    gap: 4px;
    margin-bottom: 31px;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 48px;
    padding: 0 22px;
    background: #305DB8;
    border-radius: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    transition: .3s;
    color: #FFFFFF;
    border: none;   
    outline: none; 
}

.btn:hover {
    background-color: rgba(2, 34, 99, 1);
}

.btn-google {
    background: #DF4A32;
}

.btn-google:hover {
    background-color: rgba(171, 31, 9, 1);
}

.btn-slice {
    border-left: 1px solid rgba(10, 22, 47, 1);
    height: 28px;
    opacity: 0.1;
}

.btn-slice-one {
    border-left: 1px solid rgba(43, 13, 9, 1);
}

.form__or {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin-bottom: 12px;
    text-align: center;
    position: relative;
}

.form__or::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
}

.form__or::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 172px;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-text {
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 19px 15px; 
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    outline: none;
    margin-bottom: 16px;
    cursor: pointer;
}

.input-text:hover {
    border-color: #62a2c2;
}

.input-text::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.input-text:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    cursor: auto;
}


.input-checkbox {
    display: none;
}

.checkbox-container {
    display: inline-block;
    position: relative;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-left: 28px;
    margin-bottom: 20px;
}

/* Вариант 2 через  пустой элемент(span) и псевдоелементы к нему: */
/* 
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.0001);
    position: absolute;
    top: -3px;
    left: 0;
}

.checkmark::after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../img/cheched.svg') no-repeat;
    background-size: cover;
    opacity: 0;
    transition: .4s;
    z-index: 2;
}

.checkbox-container input:checked + .checkmark::after {
    opacity: 1;
} */


.checkbox-container span {
    color: #3CB878;
}

.checkbox-container::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.0001);
    position: absolute;
    top: -4px;
    left: 2px;
}

.checkbox-container::after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(-50%, -50%);
    background: url('../img/cheched.svg') no-repeat;
    background-size: cover;
    opacity: 0;
    transition: .4s;
    z-index: 2;
}

.input-checkbox:checked ~ .checkbox-container::after {
    opacity: 1;
}

.btn-submit {
    display: block;
    width: 100%;
    background-color: rgba(60, 184, 120, 0.8);
}

.btn-submit:hover {
    background-color: rgba(1, 129, 63, 1);
}





